.container{
    border-style: solid;
    border-color: dimgrey;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2% 0%;
}

/* table */

table, th, td {
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
  }

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}