.post{
    border-style: solid;
    border-color: dimgrey;
    text-align: center;
    padding: 2em;
    width: max-content;
    margin: 0 auto;
}

/* table */

table, th, td {
  width: auto;
  margin: auto;
  margin-top: 2em;
  }

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}