<div class="post">
        <h3>16 – 22 martie 2020 </h3>
        <p>(a treia săptămână din Postul Mare)</p>
        <strong>Preot de servici: Daniel Sabau</strong> 
        <table class="table">
            <tr>
                <th>Ziua</th>
                <th>Ora</th>
                <th>Slujba</th>
            </tr>
            <tr>
                <td>Marţi, 17 martie</td>
                <td>18:00</td>
                <td>Spovedanie</td>
            </tr>
            <tr>
                <td>Miercuri, 18 martie </td>
                <td>09:00</td>
                <td>Liturghia Darurilor mai înainte sfinţite</td>
            </tr>
            <tr>
                <td>Joi, 19 martie </td>
                <td>09:00</td>
                <td>Spovedanii</td>
            </tr>
        </table>
</div>