body{
    width: max-content;
    margin: 0 auto;
    min-width: 577px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
    margin-top: 4%;
    text-align: center;
}

.main_title{
    font-size: 4em;
}